---
import { Article } from '@/interfaces/articles';
import TagGroup from './TagGroup.astro';

export interface Props extends Article {
  compact?: boolean,
}

const { title, excerpt, pubDate, compact, tags, slug } = Astro.props;
---
<div class={`article-card ${compact ? 'compact' : ''}`}>
  <h2><a href={`/articles/${slug}/`}>{title}</a></h2>
  {!compact && (
    <p>{excerpt}</p>
  )}
  <div>
    <div class="article-card__other-info">
      <span>Tags: </span>
      <TagGroup tags={tags} size="sm" limit={2} />
    </div>
    <span>{pubDate}</span>
  </div>
</div>
<style lang="scss">
  @import '../styles/variables.scss';

  div.article-card {
    background: white;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding: 16px 20px;
    position: relative;
    > div {
      align-items: center;
      display: flex;
      justify-content: space-between;
      span {
        color: $gray-lighter;
        font-size: 0.75rem;
      }
    }
    h2 {
      margin: 0;
      color: $primary-color;
    }
    &.compact {
      display: flex;
      flex-direction: column-reverse;
      h2 {
        margin-top: 12px;
      }
    }
    .article-card__other-info {
      > span {
        margin-right: 8px;
      }
    }
  }
</style>
