---
import Tag from '@/components/Tag.astro';
import { TagItem } from '@/interfaces/tag';

export interface Props extends TagItem {
  limit?: number,
  tags: Array<string>,
};

const { tags, color, limit, size } = Astro.props;

const allTags:Array<string> = limit ? tags.slice(0, limit) : tags;
const restOfTags:number = tags.length - allTags.length;
---

<div>
  {allTags && allTags.map(tag => (
    <div class={size}>
      <Tag tag={tag} color={color} size={size} />
    </div>
  ))}
  {limit && restOfTags && (
    <div class={size}>
      <Tag tag={restOfTags} color={color} size={size} />
    </div>
  )}
</div>
<style lang="scss">
  div {
    display: inline-block;
    > div {
      &.sm {
        margin-right: 8px;
      }
      &.md {
        margin-right: 12px;
      }
    }
  }
</style>
